<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669575167418-sl1p401dhg17ebmsnlcm668h299cd7ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669575167418-sl1p401dhg17ebmsnlcm668h299cd7ie</string>
	<key>API_KEY</key>
	<string>AIzaSyA2j-q1nlzEWLcHz_FZBAZJn04W5GVyGtM</string>
	<key>GCM_SENDER_ID</key>
	<string>669575167418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nia.assistant</string>
	<key>PROJECT_ID</key>
	<string>nia-ia</string>
	<key>STORAGE_BUCKET</key>
	<string>nia-ia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669575167418:ios:7038810fb0473bb8943183</string>
</dict>
</plist>